---
// Welcome to Astro!
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Filament Pages</title>
  </head>
  <body>
    <h1>Welcome to Filament</h1>
    <p>This is a static site built with Astro.</p>
  </body>
</html>
